pyrogram
TgCrypto
pyromod==1.4
yt-dlp==2025.01.26
mutagen==1.46.0
cloudscraper
Pillow
aiohttp
aiofiles
async-lru==2.0.2
uvloop
requests==2.31.0
urllib3==2.0.3
websockets==11.0.3
python-dotenv==1.0.0
PySocks==1.7.1
certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
pyaes==1.6.1
pycryptodome==3.18.0
beautifulsoup4
bs4
pytube
speedtest-cli
beautifulsoup4
cloudscraper
gunicorn
Flask
